@font-face {
    font-family: opensans-local;
    src: url(opensans-regular.ttf);
}

.clinFT_container, .clinFT_backdrop, .clinFT_textarea {
	width: 698px;
	height: 49px;
}

.clinFT_highlights, .clinFT_textarea {
	font: 14px/16px 'opensans-local', 'Open Sans', sans-serif;
}

.clinFT_container {
	display: block;
	transform: translateZ(0);
	-webkit-text-size-adjust: none;
}

.clinFT_backdrop {
	position: absolute;
	z-index: 1;
	background-color: #fff;
	overflow: auto;
	/*pointer-events: none;*/
}

.clinFT_highlights {
	white-space: pre-wrap;
	word-wrap: break-word;
	color: transparent;
}

.clinFT_textarea {
	display: block;
	position: absolute;
	z-index: 2;
	margin: 0;
	background-color: transparent;
	overflow: auto;
	resize: none;
	border: 0px;
	padding: 0px;
}

.mark {
	border-radius: 3px;
	color: transparent;
}

.blue {
	background-color: #b1d5e5;
}

.green {
	background-color: #b1e5b5;
}

.red {
	background-color: #e5b1b1;
}

#tooltip {
	position: absolute;
	width: 250px;
	height: 80px;
	visibility: hidden;
	background-color: white;
	color: black;
	border: 1px solid black;
	box-shadow: 2px 2px 4px rgb(100, 100, 100);
	padding: 5px;
}

.btn {
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgb(140, 140, 140);
  color: black;
  padding: 1px 5px;
  background: #ffffff;
  border: solid #b5b5b5 1px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
