@font-face {
    font-family: oopensans-local;
    src: url(opensans-regular.ttf);
}

* {
	box-sizing: border-box;
	font-family: 'opensans-local', 'Open Sans', sans-serif;
	font-size: 14px;
}

body {
	margin: 30px;
	background-color: rgb(146, 146, 146);
}

table {
	background-color: white;
	padding: 80px 50px;
	margin: auto;
	width: 1000px;
	box-shadow: 10px 10px 5px rgb(70, 70, 70);
	border-spacing: 0px;
}

th {
	font-size: 22px;
	color: rgb(112, 112, 112);
	padding-bottom: 15px;
	text-align: left;
}

table tr td:first-child {
	width: 200px;
}

table tr td:nth-child(3) {
	width: 200px;
}

.top {
	vertical-align: top;
}

.padtop {
	padding-top: 10px;
}

.bborder {
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
}

label {
	font-weight: bold;
}

input {
	border-width: 0px;
	font-size: 14px;
	width: 100%;
}

.savebtn {
	cursor: pointer;
	width: 70px;
	height: 70px;
	background-color: rgb(39,40,34);
	border-radius: 50%;
	box-shadow: 0 6px 10px 0 #666;
	transition: all 0.1s ease-in-out;

	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 70px;

	position: fixed;
	right: 52px;
	bottom: 52px;
}
 
.savebtn:hover {
	box-shadow: 0 6px 14px 0 #666;
	transform: scale(1.05);
}